        <div id="content">
          <h1><?php echo lang::addPaper_uploadHeader; ?></h1>
          <div class="paperInfo">
          <form class="inputForm" action="index.php?p=8" method="post">
		<input type="hidden" name="token" value="<?php echo $user->getToken('addPaper'); ?>">
       	    <label><?php echo lang::addPaper_titleLabel; ?>
       	    <input type="text" name="paperName"></label><br>
       	    <label><?php echo lang::addPaper_thirdURLLabel; ?>
       	    <input type="url" name="paperURL"></label><br>
       	    <label><?php echo lang::addPaper_publishedDateLabel; ?>
       	    <input type="date" name="paperPublishDate" id="datepicker"></label><br>
       	    <br><label><?php echo lang::addPaper_publisherIDLabel; ?>
       	    <input type="text" name="publisherId"></label><br>
       	    <label><?php echo lang::addPaper_abstractLabel; ?></label><br>
       	    <textarea name="abstract" rows="10" cols="50"></textarea><br>
       	    <label><?php echo lang::addPaper_sponsorLabel; ?>
       	    <input type="text" name="sponsor"></label><br>
       	    <label><?php echo lang::addPaper_doiURLLabel; ?>
       	    <input type="url" name="digObjIdUrl"></label><br>
       	    <label><?php echo lang::addPaper_doiLabel; ?>
       	    <input type="text" name="digObjId"></label><br>
       	    <label><?php echo lang::addPaper_copyrightOwnerLabel; ?>
       	    <input type="text" name="copyRightOwner"></label><br>
       	    <label><?php echo lang::addPaper_copyrightDateLabel; ?>
       	    <input type="text" name="copyRightDate" id="datepicker2"></label><br>
	    <label><?php echo lang::addPaper_disciplineLabel; ?>
	    <?php echo $disciplineSelector; ?></label><br>
       	    <br><label><?php echo lang::addPaper_fullTextLabel; ?></label><br>
       	    <textarea name="paperText" rows="10" cols="50"></textarea>
                <h3><?php echo lang::addPaper_legalese; ?></h3><br>
                    	<input class="submit" type="submit" value="<?php echo lang::addPaper_button; ?>">
            </form>
            </div><!--End PaperInfo-->
        </div><!--End Content-->
