<div id="content">
          <h1>What kind of search would you like to perform?</h1>
          <div class="paperInfo">
          <form class="inputForm" action="index.php?p=6" method="post">
          <h1>Advanced Search Options</h1>
                <input type="hidden" name="token" value="<?php echo $user->getToken('advancedSearch'); ?>">
                         <select name="searchOption">
                                <option value="1">Paper ID</option>
                                <option value="1">Title and Abstract Natural Text</option>
<!--Not yet implemented         <option value="2">Title Only</option>-->
<!--Not yet implemented         <option value="3">Natural Text, by Abstract</option>-->
<!--Not yet implemented         <option value="4">Natural Text, by Full Paper</option>-->
<!--Not yet implemented         <option value="5">Natural Text, by Author Name</option>-->
                         </select>
                         <input type="text" name="searchText" size="40"></label><br>
                         <input class="submit" type="submit" value="Submit">
            </form>
            </div><!--End PaperInfo-->
        </div><!--End Content-->
