
<div class="material">
	<form class="inputForm" action="./index.php?p=13" method="POST">
    <label><?php echo lang::changePass_newPass; ?><input type="password" name="newPass1" /></label>
	<label><?php echo lang::changePass_reenterNewPass; ?><input type="password" name="newPass2" /></label>
    <label><?php echo lang::changePass_currentPass; ?><input type="password" name="password"/></label>
	<input class="submit" type="submit" value="<?php echo lang::changePass_updateButton; ?>" name="submit" />
    </form>
</div>
