
<div class="material">
	<form class="inputForm" action="./index.php?p=12" method="POST">
    <label><?php echo lang::changeInfo_fullName; ?><input type="text" name="userFullName" value="<?php echo $userFullName; ?>" /></label>
	<label><?php echo lang::changeInfo_email; ?><input type="text" name="emailAddress" value="<?php echo $email; ?>" /></label>
    <label><?php echo lang::changeInfo_degree; ?><input type="text" name="degree" value="<?php echo $degree; ?>" /></label>
    <label><?php echo lang::changeInfo_title; ?><input type="text" name="title" value="<?php echo $title; ?>" /></label>
    <label><?php echo lang::changeInfo_university; ?><input type="text" name="university" value="<?php echo $university; ?>" /></label>
    <label><?php echo lang::changeInfo_password; ?><input type="password" name="password"/></label>
	<input type="hidden" name="token" value="<?php echo $user->getToken('changeInfo'); ?>">
	<input class="submit" type="submit" value="Update Info" name="submit" />
    </form>
</div>
