@charset "utf-8";
html, body {
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
}
html {
	background-color: #E0E0E0;
	background-image: url(../img/back3.png);
	background-repeat: repeat-x;
	background-position: 0% bottom;
	min-height: 100%;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.2em;
}
h3{
	font-size: 1em;
}
h4 {
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clearRight {
	clear: right;
}
.clearLeft {
	clear: left;
	display: block;
}

#page {
	width: 100%;
	position: relative;
	padding-top: 88px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#header {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #039BE5;
	left: 0px;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	color: #FFFFFF;
	background-image: url(../img/ORPLogo.png);
	background-repeat: no-repeat;
	padding: 0px;
	background-position: 8px 0%;
	min-height: 64px;
}
#header h1 {
	margin: 0px;
	float: left;
	line-height: 64px;
	height: 64px;
	padding-left: 64px;
}
#header h1 a {
	color: #FFFFFF;
	text-decoration: none;
}
#search {
	display: block;
	float: left;
	height: 32px;
	margin-top: 16px;
	margin-left: 32px;
	margin-bottom: 16px;

}
#search input {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-right: 12px;
	padding-left: 12px;
	float: left;
	color: #000000;
	font-size: 1.125em;
	line-height: 32px;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	display: block;
}
#search .searchField  {
	height: 32px;
	max-width: 384px;
	min-width: 256px;
}

#search .searchButton {
	width: 64px;
	height: 32px;
	background-color: #039BE5;
	padding: 0px;
	color: #FFFFFF;
	float: right;
}
#search .searchButton:hover {
	background-color: #0277BD;
	text-decoration: none;
}
#nav {
	margin: 0px;
	padding: 0px;
	float: right;
}
#nav h1 {
	display: none;
}
#nav ul, #nav li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}
#nav a {
	margin-right: 24px;
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	height: 64px;
	line-height: 64px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.125em;
}
#nav a:hover {
	background-color: #0277BD;
}
#userNav {
	width: 256px;
	position: fixed;
	top: 88px;
	margin-top: 0px;
	right: 24px;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	background-color: #FFFFFF;
}
#userNav img {
	float: left;
	margin-left: 12px;
	margin-top: 12px;
}
#userNav a {
	text-decoration: none;
	color: #494949;
	transition: background-color .25s, box-shadow .25s;
}
#userNav .userInfo {
	display: block;
	float: left;
	clear: right;
	margin-top: 12px;
	margin-right: 12px;
	margin-left: 12px;
}

#userNav h1 {
	margin: 0px;
}
#userNav .login {
	font-size: 0.8em;
}
#userNav .login:hover {
	text-decoration: underline;
}
#userNav ul {
	margin-top: 24px;
	clear: both;
	padding: 0px;
	float: left;
	list-style-type: none;
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
#userNav li a {
	height: 32px;
	display: block;
	width: 100%;
	border-top: 1px solid #C7C7C7;
	line-height: 32px;
}
#userNav li a:hover {
	background-color: #E3E3E3;
	-webkit-box-shadow: inset 0px 0px 2px 1px #C7C7C7;
	box-shadow: inset 0px 0px 2px 1px #C7C7C7;
}
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding-left: 12px;
	padding-right: 280px;
}
#content h1 {
	border-bottom: 1px solid #545454;
	color: #545454;
	min-width: 256px;
	width: 100%;
	clear: both;
	
}
#disciplineList li{
        padding: 3px;
}
#disciplineList a{
        text-decoration: none;
}
#disciplineList a.add{
        color: #1cbb13;
}
#disciplineList a.delete{
        color: #bb1317;
}
.message{
	font-size: 130%;
	text-align: center;
	width: 90%;
	border: 2px solid red;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.material{
	max-width: 60%;
	display: block;
	margin-bottom: 24px;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	border-radius: 2px;
	float: left;
	padding: 12px;
	background-color: #FFFFFF;
	margin-right: 24px;
	transition: box-shadow .25s;
}
.material:hover {
	box-shadow: 0px 1px 8px 3px #BBBBBB;
	-webkit-box-shadow: 0px 1px 8px 3px #BBBBBB;
}


.paperInfo {
	width: 100%;
	display: block;
	margin-bottom: 24px;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	border-radius: 2px;
	float: left;
	clear: both;
	padding: 12px;
	background-color: #FFFFFF;
	margin-right: 0px;
}


.paperTitleInfo {
	width: auto;
	margin-left: 57px;



}

.none{
	text-decoration: none;
}

.paperInfo h2, .material h2{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size: contain;
}
.paperInfo h3, .material h3{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
}
.paperInfo h4, .material h4 {
	margin-left: 0px;
	margin-bottom: 2px;
	margin-right: 0px;
	margin-top: 0px;
}

.paperText {
	font-Style: normal;
	font-weight: normal;
	font-variant: normal;
}

.paperImage {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
.paperTitleInfo a {
	text-decoration: underline;
	color: #039BE5;
}

.paperButtons ul {
	list-style-type: none;
}

.paperButtons a {
	min-width: 56px;
	float: left;
	display: block;
	height: 32px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #039BE5;
	line-height: 32px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	margin-right: 12px;
	transition: background-color .25s;
	margin-bottom: 12px;
}

.paperButtons a:hover {
	background-color: #0277BD;
}
.paperButtons a:active {
	box-shadow: 0px 0px 0px 0px;
}
.flatButtons a {
	min-width: 56px;
	float: left;
	display: block;
	height: 32px;
	text-decoration: none;
	line-height: 32px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
	color: #039BE5;
	margin-right: 12px;
	transition: background-color .25s;
}

.flatButtons a:hover {
	background-color: #E0E0E0;
}
.flatButtons a:active {
	background-color: #545454;
	color: #FFFFFF;
}
.leftLinkList a {
	clear: both;
}
.meter {
	height: 15px;
	border-radius: 2px;
	width: 100px;
	background-color: rgba(224,224,224,1.00);
	display: block;
}
.meter span {
	height: 100%;
	border-radius: 2px;
	display: block;
	background-color: #039BE5;
}
.meterInfo {
	font-size: 0.8em;
}
.commentSection {
	display: block;
	width: 100%;
}
.comment {
	display: block;
	float: left;
	clear: right;
	border-top: 1px solid #E0E0E0;
	padding-left: 15px;
	padding-top: 10px;
	width: 100%;
	margin-left: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment img {
	margin-bottom: 12px;
}


.commentContent {
	float: left;
	clear: right;
	margin-left: 12px;
	margin-bottom: 10px;
	max-width: 90%;
}
.commentContent p {
	margin-bottom: 5px;
	margin-top: 5px;
}
.commentReply {
	display: none;

}




.commentControl {
	border-top: 1px solid #E0E0E0;
	float: left;

}
.commentReply form {
	width: 100%;
}
.commentReply textarea {
	width: 100%;
	float: left;
	clear: right;
	margin-bottom: 12px;
}
.commentReply input {
	margin-bottom: 12px;
	float: left;
	clear: right;
}




.memberInfo {
	text-align: center;
}


.inputForm label, .inputForm textArea, .inputForm h3, .inputForm .submit{
	float: left;
	clear: both;
	margin-bottom: 12px;
}

#footer {
	clear: both;
	height: 20px;
	text-align: center;
	font-size: 0.8em;
	color: #545454;
	margin-bottom: 45px;
}
