<div id="content">

<div id="pageTitle">
<h1><?php echo lang::home_searchHeader; ?></h1>
</div>

<div class="paperInfo">

<form action="./index.php?p=5" method="POST">
<input type="text" name="search">
<input type="hidden" name="token" value="<?php echo $user->getToken('search'); ?>"><br>
<input type="submit" value="<?php echo lang::searchLanding_button; ?>" name="submit">
</form><br>

</div>
</div>

