<div id="content">

<div id="pageTitle">
<h1><?php echo lang::login_title; ?></h1>
</div>

<div class="paperInfo"><!--Using paperInfo class for now, should create more generic style for this stuff-->

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<?php if((isset($loginErrors)) && (count($loginErrors)>0)){ ?>
<br><div class="error">
<?php
foreach ($loginErrors as $errorMessage) {
    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
}
unset($errorMessage);
?>
</div><br>
<?php } ?>
<form action="./index.php?p=2" method="POST">
<?php echo lang::login_username; ?><input type="text" name="username" value="<?php if(isset($_POST['username'])){ echo $_POST['username']; } ?>"><br>
<?php echo lang::login_password; ?><input type="password" name="password"><br>
<!--<input type="checkbox" name="stay"><?php echo lang::login_stay; ?>--><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('login'); ?>">
<input type="submit" value="Login" name="submit">
</form><br><br>
</div>
</div>
</div>

