<div id="content">

<div id="pageTitle">
<h1><?php echo lang::registerPage_title; ?></h1>
</div>

<div class="paperInfo"><!--Using paperInfo class for now, should create more generic style for this stuff-->

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<?php if((isset($registerErrors)) && (count($registerErrors)>0)){ ?>
<br><div class="error">
<?php
foreach ($registerErrors as $errorMessage) {
    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
}
unset($errorMessage);
?>
</div><br>
<?php } ?>
<form action="./index.php?p=1" method="POST">
<?php echo lang::registerPage_fullNameLabel; ?><input type="text" name="userFullName" value="<?php if(isset($_POST['userFullName'])){ echo $_POST['userFullName']; } ?>"><br>
<?php echo lang::registerPage_usernameLabel; ?><input type="text" name="userName" value="<?php if(isset($_POST['userName'])){ echo $_POST['userName']; } ?>"><br>
<?php echo lang::registerPage_password; ?><input type="password" name="password"><br>
<?php echo lang::registerPage_reenterPassword; ?><input type="password" name="passwordVerify"><br>
<?php echo lang::registerPage_email; ?><input type="text" name="emailAddress" value="<?php if(isset($_POST['emailAddress'])){ echo $_POST['emailAddress']; } ?>"><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('register'); ?>">
<input type="submit" value="<?php echo lang::registerPage_registerButton; ?>" name="submit">
</form><br><br>
</div>
</div>
</div>

