<div id="content">

<div id="pageTitle">
<h1><?php echo lang::review_title; ?></h1>
</div>

<div class="paperInfo">
<div class="post">

<?php if(!$hasDisciplines){ die('<p>' . lang::review_missingDisciplines . '</p>'); } ?>

<?php if(!$reviewOut){ ?>

<?php if((isset($setReview)) && ($setReview == -1)){ echo '<div class="message">' . lang::review_addFailure . '</div>'; } ?>
<?php if((isset($setReview)) && ($setReview == -3)){ echo '<div class="message">' . lang::review_outOfPapers . '</div>'; } ?>
<?php if(isset($updated)){ if($updated){ echo '<div class="message">' . lang::review_submit . '</div>'; }} ?>

<?php echo lang::review_description1; ?>

<ul>
<?php
foreach($canReview as $item){
	echo '<li><a style="text-decoration: none;color: #039BE5;" href="./index.php?p=5&d=' . $item['id'] . '" target="_blank">' . $item['name'] . '</a></li>';
}
?>
</ul>

<?php echo lang::review_description2 . $skips['num'] . lang::review_description3 . $skipTimeout['num'] . lang::review_description4; ?>


<form action="./index.php?p=14" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('review'); ?>">
<input type="submit" name="submit" value="<?php echo lang::review_button; ?>">

<?php }else{ ?>

<form action="./index.php?p=14" method="POST">

<h1 class="none"><?php echo lang::review_paperTitle; ?><a class="none" href="index.php?p=11&paperId=<?php echo $reviewData['paperId']; ?>" target="_blank"><?php echo $paperData[0]['paperName']; ?></a></h1>

<p><?php echo lang::review_daysRemaining . (int)$reviewTimeRemaining; ?></p>

<?php if(isset($updated)){ if($updated){ echo '<div class="message">' . lang::review_saveGood . '</div>'; }else{ echo '<div class="message">' . lang::review_saveBad . '</div>'; }} ?>

<p><?php echo lang::review_comments; ?></p>
<textarea name="comments" rows="15" cols="80"><?php echo $reviewData['comment']; ?></textarea>

<br/>
<p><label><?php echo lang::review_endorseCheckbox; ?><input type="checkbox" name="endorse"<?php if($reviewData['isEndorsed']==1){ echo ' checked'; } ?>></label></p>

<br/>
<input type="hidden" name="token" value="<?php echo $user->getToken('review'); ?>">
<input type="submit" name="submitReview" value="<?php echo lang::review_submitButton; ?>">&nbsp;&nbsp;|&nbsp;&nbsp;<input type="submit" name="skip" value="<?php echo lang::review_skipButton; ?>">&nbsp;&nbsp;|&nbsp;&nbsp;<input type="submit" value="<?php echo lang::review_saveButton; ?>" name="saveForLater">

</form>

<?php } ?>

</div>
</div>
</div>

