<?php $userData = $sql->getUserData($user->getNumber()); ?>
<div id="content">
            <div class="material" style="max-width:100%;width:100%;">
            	<h2><?php echo lang::userDiscipline_title; ?></h2><br><br>

		<div style="margin-left: 4%;width:98%;">

			<div id="disciplineList">

				<h3><?php echo lang::userDiscipline_yourDisciplines; ?></h3>
				<hr style="width:50%;float:left;"><br>
				<?php
		                        $categories = $sql->getUserCategoryList($user->getNumber());
		                        if(!is_null($categories)){
		                                foreach($categories as $category){
		                                        echo '<li><a href="./index.php?p=5&c=' . $category['id'] . '">' . $category['name'] . '</a>&nbsp;|&nbsp;<a class="delete" href="./index.php?p=21&delete=' . $category['id'] . '&ud=' . $user->getToken('userDiscipline') . '">' . lang::userDiscipline_delete . '</a></li>' . "\n";
		                                }
		                        }else{
		                                echo '<li>' . lang::userDiscipline_noneAdded . '</li>';
		                        }
	                        ?>
				<br><br>

				<h3><?php echo lang::userDiscipline_allDisciplines; ?></h3>
				<hr style="width:50%;float:left;"><br>
				<p><?php echo lang::userDiscipline_addNote; ?></p>

				<?php echo getAllDisciplines($disciplines, 0, 0, $user->getToken('userDiscipline')); ?>
				<br><br>
			</div>
		</div>
</div><!--End Content-->
