<?php

$showPapers = false;

if((isset($_GET['u'])) && (is_numeric($_GET['u'])) && ($_GET['u']==(int)$_GET['u'])){ // IF we are loading another person's profile

	$userNumber = (int)$_GET['u'];
	$userData = $sql->getUserData($userNumber);
    

	if($userNumber == $user->getNumber()){
		$showButtons = true;
	}else{
		$showButtons = false;
        $showPapers = true;
        include($root . '/pages/paperUtil.php');
	}

}else{ // ELSE IF we are loading another person's profile

	$userNumber = $user->getNumber();
	$userData = $sql->getUserData($userNumber); 
	$showButtons = true;

} // END ELSE IF we are loading another person's profile


?>
<div id="content">
          
            <h1><?php echo lang::userLanding_title; ?></h1>
            <div class="material">
            	<h2><?php echo $userData['userFullName'] . ' (' . $userData['userName'] . ')'; ?></h2>
            	<img class="paperImage" src="index.php?i=<?php echo $user->getNumber(); ?>" alt="User Image" height="64" />
                <span class="fleft">
		<h4><?php 
			echo lang::userLanding_lastLogin;
			date_default_timezone_set('UTC'); // The default timezone in the database is UTC
			$datetime = new DateTime($userData['lastLogin']); // Get last login as datetime object
			$timezone = new DateTimeZone($user->getTimezone()); // Set our new timezone to convert to
			$datetime->setTimezone($timezone); // Convert the timezone
			echo $datetime->format('F d, Y - H:i'); ?></h4>
                <h4><?php echo lang::userLanding_emailLabel . $userData['emailAddress']; ?></h4>
                <h4><?php echo $userData['degree']; ?></h4>
                <h4><?php echo $userData['title']; ?></h4>
                <h4><?php echo $userData['university']; ?></h4>
                </span><?php if($showButtons){ ?>
                <span class="flatButtons clearLeft"><a href="?p=12"><?php echo lang::userLanding_updateInfo; ?></a><a href="?p=13"><?php echo lang::userLanding_changePassword; ?></a><a href="./index.php?p=15"><?php echo lang::userLanding_localization; ?></a></span>
		<?php } ?>
            </div>
            
            <div class="material">
            	<h2><?php echo lang::userLanding_disciplines; ?></h2>
		<ul><!-- I know the text-decoration: none; here isn't good. It's only temporary though. -->
<?php
			$disciplines = $sql->getUserCategoryList($userNumber);
			if(!is_null($disciplines)){
				foreach($disciplines as $discipline){
					echo '<li><a style="text-decoration: none;color: #039BE5;" href="./index.php?p=5&d=' . $discipline['id'] . '">' . $discipline['name'] . '</a></li>' . "\n";
				}
			}else{
				echo '<li>' . lang::userLanding_noDisciplines . '</li>';
			}
			?>
                </ul><?php if($showButtons){ ?>
                <span class="flatButtons"><a href="index.php?p=21"><?php echo lang::userLanding_updateDisciplines; ?></a></span>
		<?php } ?>
            </div>
           
            <!--
            <h1>Groups</h1>
<?php

		//$groups = $sql->getUserGroupsList($userNumber);
		//if(!is_null($groups)){
		//	foreach($groups as $group){
		//	?>
			<div class="material">
			<h2><?php //echo $group['name']; ?></h2>
			<span class="flatButtons leftLinkList"><a href="#">View Members</a><br/><a href="">View Papers</a><?php //if($showButtons){ ?><br/><a href="">Leave Group</a><?php //} ?></span>
			</div>
			<?php
		//	}
		//} ?>
            <?php //if($showButtons){ ?>
            <div class="material">
                <span class="flatButtons leftLinkList"><a href="#">New Group&hellip;</a></span>
            </div>
		<?php //} ?>-->
            
<?php 
	if($showPapers){
    	$paperInfo = $sql->getPaperInfoByUserID($userNumber);
		//sort an Authors array for easier processing and display of data
		//and sort the results into published and unpublished
		if(count($paperInfo) > 0){
			foreach($paperInfo as $paper){
				//creating the author array
				if (!isset($paperAuthor[$paper['paperID']])){
					$paperAuthor[$paper['paperID']][] = array('name' => $paper['author'], 'userId' => $paper['userId']);	
				} else {
					array_push($paperAuthor[$paper['paperID']], array('name' => $paper['author'], 'userId' => $paper['userId'])); 
				}
				//sorting published and not published
				if($paper['endorsed'] == 2){
					$publishedPapers[] = $paper; //creating the published array
				} else {
					$underReviewPapers[] = $paper; //creating the unpublished array
				}
		}
 ?> 
        <h1><?php echo lang::userLanding_publishedPapers; ?></h1>
<?php

		if(isset($publishedPapers) && (count($publishedPapers) > 0)){
			$prevID = -1; //check for redundant papers in the array;
			foreach($publishedPapers as $paper){
				if ($prevID != $paper['paperID']){ //we only display the paper if it's a new paper.  This assumes the getPaperByUserID method gives papers in order of paperID
					displayPaperInfo($paper, $paperAuthor[$paper['paperID']]); //pass the paper info, along with the correct Author array for that paper
					$prevID = $paper['paperID'];
				}
			}
		} else {
			echo '<div class="material"><p>' . lang::userLanding_noPublished . '</p></div>';
		}
        
	}
 }
?>            
            
            
            
        </div><!--End Content-->
