<div id="content">
		<div class="material" style="margin:auto;width:100%;">
			<?php if(isset($success)){ echo '<div class="message">'; if($success){ echo lang::userLocalization_good; }else{ echo lang::userLocalization_bad; } echo '</div>'; }?>

			<form class="inputForm" action="./index.php?p=15" method="POST">
		   	<label><?php echo lang::userLoc_timezone; ?><br><select name="timezone"> <?php echo $timezoneOptions; ?> </select></label>
			<label><?php echo lang::userLoc_language; ?><br><select name="language"> <?php echo $languageOptions; ?> </select></label>
			<input type="hidden" name="token" value="<?php echo $user->getToken('userLocalization'); ?>">
			<input class="submit" type="submit" value="<?php echo lang::userLoc_button; ?>" name="submit" />
		    </form>
		</div>
</div>
