<div id="content">

<div id="pageTitle">
<h1><?php echo lang::adminAddUser_title; ?></h1>
</div>

<div class="paperInfo"><!--Using paperInfo class for now, should create more generic style for this stuff-->

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<?php if((isset($registerErrors)) && (count($registerErrors)>0)){ ?>
<br><div class="error">
<?php
foreach ($registerErrors as $errorMessage) {
    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
}
unset($errorMessage);
?>
</div><br>
<?php } ?>
<form action="./index.php?a=6" method="POST">
<label><?php echo lang::adminAddUser_fullName; ?><input type="text" name="userFullName" value="<?php if(isset($_POST['userFullName'])){ echo $_POST['userFullName']; } ?>"></label><br>
<label><?php echo lang::adminAddUser_userName; ?><input type="text" name="userName" value="<?php if(isset($_POST['userName'])){ echo $_POST['userName']; } ?>"></label><br>
<label><?php echo lang::adminAddUser_password; ?><input type="password" name="password"></label><br>
<label><?php echo lang::adminAddUser_passwordAgain; ?><input type="password" name="passwordVerify"></label><br>
<label><?php echo lang::adminAddUser_email; ?><input type="text" name="emailAddress" value="<?php if(isset($_POST['emailAddress'])){ echo $_POST['emailAddress']; } ?>"></label><br><br>
<label><?php echo lang::adminAddUser_admin; ?><input type="checkbox" value="1" name="isAdmin"></label><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('adminAddUser'); ?>">
<input type="submit" value="<?php echo lang::adminAddUser_button; ?>" name="submit">
</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
        <a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>
</div>
</div>
</div>

