<div style="margin:0; text-align:center; width:100%; height:100%;">

	<div style="margin: auto; width: 90%; margin-top: 5%;">

		<div class="material">
                        <h2><?php echo lang::adminLanding_orSettings; ?></h2>
                        <span class="flatButtons leftLinkList">
				<a href="./index.php?a=3"><?php echo lang::adminLanding_generalSettings; ?></a><br/>
                                <a href="./index.php?a=4"><?php echo lang::adminLanding_localization; ?></a><br/>
                        </span>
                </div>

		<div class="material">
			<h2><?php echo lang::adminLanding_users; ?></h2>
			<span class="flatButtons leftLinkList">
				<a href="./index.php?a=5"><?php echo lang::adminLanding_generalSettings; ?></a><br/>
				<a href="./index.php?a=6"><?php echo lang::adminLanding_addUser; ?></a><br/>
			</span>
		</div>
			
		<div class="material">
			<h2><?php echo lang::adminLanding_papers; ?></h2>
			<span class="flatButtons leftLinkList">
				<a href="./index.php?a=8"><?php echo lang::adminLanding_disciplineSettings; ?></a><br/>
				<a href="./index.php?a=9"><?php echo lang::adminLanding_reviewSettings; ?></a><br/>
			</span>
		</div>

	</div>
	
	<div style="margin: auto; width: 90%; margin-top: 5%;">
		<div class="material">
			<span class="flatButtons leftLinkList">
				<a href="./index.php?a=0"><?php echo lang::adminLanding_logout; ?></a>
			</span>
		</div>
	</div>	

</div>
