

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminLocalization_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
        <div class="message">
<?php
        if($isUpdated){
                echo lang::admin_settingGood . '<br/><br/>';
        }else{
                echo lang::admin_settingBad . '<br/><br/>';
        }
?>
</div>
<?php } ?>


<p><?php echo lang::admin_cacheWarn; ?></p>

<form action="index.php?a=4" method="POST">

<input type="hidden" name="token" value="<?php echo $user->getToken('orLocalization'); ?>">

<br><br>
<label><?php echo lang::adminLocalization_language; ?><select name="language">
<option value="<?php echo $language['text']; ?>"><?php echo $language['text']; ?></option>
<?php
foreach($languageOptions as $option){
	echo $option;
} unset($option);
?>
</select></label><br/><br/>

<label><?php echo lang::adminLocalization_timezone; ?><select name="timezone">
<option value="<?php echo $timezone['text']; ?>"><?php echo $timezone['text']; ?></option>
<?php
foreach($timeOptions as $option){
	echo $option;
} unset($option);
?>
</select></label><br/><br/>

<br/>
<input type="submit" value="<?php echo lang::adminLocalization_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


