

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminOrSettings_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
        <div class="message">
<?php
        if($isUpdated){
                echo lang::admin_settingGood . '<br/><br/>';
        }else{
                echo lang::admin_settingBad . '<br/><br/>';
        }
?>
</div>
<?php } ?>


<form action="index.php?a=3" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('orSettings'); ?>">

<label><?php echo lang::adminOrSettings_supportEmail; ?><input type="text" name="supportEmail" style="width: 20%;" value="<?php echo $supportEmail['text']; ?>"></label>
<p><?php echo lang::adminOrSettings_warn; ?></p>

<br/>
<input type="submit" value="<?php echo lang::adminOrSettings_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


