

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminPaperReviewSettings_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
        <div class="message">
<?php
        if($isUpdated){
                echo lang::admin_settingGood . '<br/><br/>';
        }else{
                echo lang::admin_settingBad . '<br/><br/>';
        }
?>
</div>
<?php } ?>

<form action="index.php?a=9" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('paperReviewSettings'); ?>">

<label><?php echo lang::adminPaperReviewSettings_paperReviews; ?><input type="number" name="paperReviews" min="2" max="100" value="<?php echo $paperReviews['num']; ?>"></label>
<p><?php echo lang::adminPaperReviewSettings_paperReviewsEx; ?></p><br/>

<label><?php echo lang::adminPaperReviewSettings_paperApprovals; ?><input type="number" name="paperApprovals" min="1" max="100" value="<?php echo $paperApprovals['num']; ?>"></label>
<p><?php echo lang::adminPaperReviewSettings_paperApprovalsEx; ?></p><br/>

<label><?php echo lang::adminPaperReviewSettings_reviewTime; ?><input type="number" name="reviewTime" min="1" value="<?php echo $reviewTime['num']; ?>"></label>
<p><?php echo lang::adminPaperReviewSettings_reviewTimeEx; ?></p><br/>

<label><?php echo lang::adminPaperReviewSettings_skipCount; ?><input type="number" name="reviewSkipCount" min="1" value="<?php echo $reviewSkipCount['num']; ?>"></label>
<p><?php echo lang::adminPaperReviewSettings_skipCountEx; ?></p><br/>

<label><?php echo lang::adminPaperReviewSettings_skipLockTime; ?><input type="number" name="reviewSkipLockTime" min="0" value="<?php echo $reviewSkipLockTime['num']; ?>"></label>
<p><?php echo lang::adminPaperReviewSettings_skipLockTimeEx; ?></p><br/>

<?php if(function_exists('random_int')){ ?>

<label><?php echo lang::adminPaperReviewSettings_enableCSPRNG; ?><input type="checkbox" name="enableCSPRNG"<?php if($enableCSPRNG['num']==1){ ?> checked<?php } ?>>

<p><?php echo lang::adminPaperReviewSettings_enableCSPRNGEx; ?></p>

<?php }else{ ?>

<br/><br/><label><?php echo lang::adminPaperReviewSettings_CSPRNGdisabled; ?></label>

<p><?php echo lang::adminPaperReviewSettings_CSPRNGdisabledEx; ?></p>

<?php } ?> 

<br/><br/><br/>
<input type="submit" value="<?php echo lang::adminPaperReviewSettings_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


