

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminPaperDisciplines_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
	<div class="message">
<?php
	if($isUpdated){
		echo lang::admin_disciplineRemoveGood . '<br/><br/>';
	}else{
		echo lang::admin_disciplineRemoveBad . '<br/><br/>';
	}
?>
</div>
<?php } ?>

<div id="disciplineList">
<?php
	echo getList($disciplines, 0);
?>
</div>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


