

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminPaperAddDiscipline_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
        <div class="message">
<?php
        if($isUpdated){
                echo lang::admin_disciplineAddGood . '<br/><br/>';
        }else{
                echo lang::admin_disciplineAddBad . '<br/>';

		if(isset($Errors)){
                        foreach($Errors as $item){
                                echo $item . '<br/>';
                        }
                }
        }
?>
</div>
<?php } ?>



<form action="index.php?a=10&dis=<?php echo $parentId; ?>" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('paperAddDiscipline'); ?>">

<?php if(isset($parentDiscipline)){ ?>
<p><?php echo lang::adminPaperAddDiscipline_create1; ?>"<?php echo $parentDiscipline; ?>".</p>
<?php }else{ ?>
<p><?php echo lang::adminPaperAddDiscipline_create2; ?></p>
<?php } ?>

<label><?php echo lang::adminPaperAddDiscipline_disciplineName; ?><input type="text" name="disciplineName" style="width: 20%;"></label><br/><br/>
<input type="hidden" name="parent" value="<?php echo $parentId; ?>">

<br/>
<input type="submit" value="<?php echo lang::adminPaperAddDiscipline_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=8"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


