

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminPaperRemoveDiscipline_title; ?></h2><br>

<p><?php echo lang::adminPaperRemoveDiscipline_warn1; ?>"<?php echo $deleteName; ?>"<?php echo lang::adminPaperRemoveDiscipline_warn2; ?></p>


<form action="index.php?a=8" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('paperDeleteDiscipline'); ?>">
<input type="hidden" name="d" value="<?php echo $delete; ?>">

<label><?php echo lang::adminPaperRemoveDiscipline_replace; ?><select name="r">
<?php
foreach($disciplineReplacements as $item){
	if($item['id'] != $delete){
?>
		<option value="<?php echo $item['id']; ?>"><?php echo $item['name']; ?></option>
<?php 
	}
}
?>
</select></label>

<br/><br/>
<p><?php echo lang::adminPaperRemoveDiscipline_warn3; ?></p>
<br/>
<input type="submit" name="submit" value="<?php echo lang::adminPaperRemoveDiscipline_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=8"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


