<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 30%; height: 40%; margin-top: 5%; padding: 2%; background-color: white;">
<h2 style="margin: 0;"><?php echo lang::adminReauth_title; ?></h2><br>

<?php
if(isset($loginErrors)){
?>
<div class="message">
<?php
	foreach ($loginErrors as $errorMessage) {
	    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
	}
	unset($errorMessage);
?>
</div>
<?php } ?>
<br>

<form action="./index.php?a=1" method="POST">
<label><?php echo lang::adminReauth_password; ?><input type="password" name="password"></label><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('adminReauth'); ?>">
<input type="submit" value="<?php echo lang::adminReauth_button; ?>" name="submit">
</form>

<span style="float: left; text-align: left;">
	<a href="./index.php"><?php echo lang::admin_back; ?></a>
</span>

</div>

</div>
