

<div style="margin:0; text-align:center; width:100%; height:100%;">

<div style="border: 1px solid black; margin: auto; width: 90%; height: 90%; margin-top: 5%; padding: 2%; background-color: white; text-align: left;">
<h2 style="margin: 0;"><?php echo lang::adminUserSettings_title; ?></h2><br>

<?php
if(isset($isUpdated)){
?>
        <div class="message">
<?php
        if($isUpdated){
                echo lang::admin_settingGood . '<br/><br/>';
        }else{
                echo lang::admin_settingBad . '<br/><br/>';
        }
?>
</div>
<?php } ?>

<form action="index.php?a=5" method="POST">
<input type="hidden" name="token" value="<?php echo $user->getToken('userSettings'); ?>">

<label><?php echo lang::adminUserSettings_regType; ?><select name="registrationType">
<option value="<?php echo $registrationType['num']; ?>"><?php
switch($registrationType['num']){
case 0: echo lang::adminUserSettings_regType1; break;
case 1: echo lang::adminUserSettings_regType2; break;
case 2: echo lang::adminUserSettings_regType3; break;
default: echo lang::error; break;
}
?></option>
<?php if($registrationType['num'] != 0){ ?><option value="0"><?php echo lang::adminUserSettings_regType1; ?></option><?php } ?>
<?php if($registrationType['num'] != 1){ ?><option value="1"><?php echo lang::adminUserSettings_regType2; ?></option><?php } ?>
<?php if($registrationType['num'] != 2){ ?><option value="2"><?php echo lang::adminUserSettings_regType3; ?></option><?php } ?>
</select></label><br/><br/><br/>

<label><?php echo lang::adminUserSettings_loginAttempts; ?><input type="number" name="loginAttempts" min="1" max="25" value="<?php echo $loginAttempts['num']; ?>"></label>
<p><?php echo lang::adminUserSettings_loginAttemptsEx; ?></p><br/><br/>

<label><?php echo lang::adminUserSettings_loginLockTime; ?><input type="number" name="loginLockTime" min="1" max="1440" value="<?php echo $loginLockTime['num']; ?>"></label>
<p><?php echo lang::adminUserSettings_loginLockTimeEx; ?></p><br/><br/>

<br/>
<input type="submit" value="<?php echo lang::adminUserSettings_button; ?>">

</form>

<p>&nbsp;</p>
<span class="flatButtons leftLinkList">
	<a href="./index.php?a=2"><?php echo lang::admin_back; ?></a><br/>
</span>

</div>
</div>


