@charset "utf-8";
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	min-height: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
}
body > #wrapper {
	height:auto;
	min-height: 100%;
}
#nav {
	width: 160px;
	display: block;
	height: auto;
	float: right;
	text-align: center;
}
#footer {
	position:relative;
	clear: both;
	z-index: 10;
	width: 960px;
	height: 15px;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}
#nav ul   {
	display: block;
	list-style-type: none;
	float: left;
	width: 160px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header {
	width: 960px;
	height: 120px;
}


#nav a {
	display: block;
	width: 160px;
}
#header div {
	height: 20px;
	margin-left: 20px;
	padding-top: 100px;
}

#content {
	width: 760px;
	min-height: 100%;
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;
}
#header a {
}
