@charset "utf-8";
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#nav {
	float: right;
	width: 200px;
	margin-right: 0px;
	margin-left: 60px;
}
#content {
	width: 600px;
	float: left;
}
#footer {
	clear: both;
	float: right;
	width: 200px;
	margin-left: 60px;
}
#header {
	display: block;
	visibility: hidden;
}
.material {


}

.paperInfo {
	width: 560px;
	margin-left: 15px;
	float: left;
	clear: both;
	margin-bottom: 10px;
}
.paperImage {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
