@charset "utf-8";
html, body {
	padding: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	background-color: #E0E0E0;
	background-image: url(img/back3.png);
	background-repeat: repeat-x;
	background-position: 0% bottom;
}
h1{
	font-size: 18pt;
}
h2{
	font-size: 14pt;
}
h3{
	font-size: 12pt;
}
#page {
	width: 100%;
	margin-right: 280px;
	position: relative;
	padding-top: 88px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#header {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #039BE5;
	height: 64px;
	left: 0px;
	-webkit-box-shadow: 0px 1px 3px 1px #BBBBBB;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	color: #FFFFFF;
	background-image: url(img/ORPLogo.png);
	background-repeat: no-repeat;
	padding: 0px;
	background-position: 8px 0%;
}
#header h1 {
	margin: 0px;
	float: left;
	line-height: 64px;
	height: 64px;
	padding-left: 64px;
}
#header h1 a {
	color: #FFFFFF;
	text-decoration: none;
}
#search {
	display: block;
	float: left;
	height: 32px;
	margin-top: 16px;
	margin-left: 32px;
	margin-bottom: 16px;

}
#search input {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-right: 12px;
	padding-left: 12px;
	float: left;
	color: #000000;
	font-size: 18px;
	line-height: 32px;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	display: block;
}
#search .searchField  {
	height: 32px;
	max-width: 384px;
	min-width: 256px;
}

#search .searchButton {
	width: 64px;
	height: 32px;
	background-color: #039BE5;
	padding: 0px;
	color: #FFFFFF;
	float: right;
}
#search .searchButton:hover {
	background-color: #0277BD;
	text-decoration: none;
}
#nav {
	margin: 0px;
	padding: 0px;
	float: right;
}
#nav h1 {
	display: none;
}
#nav ul, #nav li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}
#nav a {
	margin-right: 24px;
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	height: 64px;
	line-height: 64px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
}
#nav a:hover {
	background-color: #0277BD;
}
#userNav {
	width: 256px;
	position: fixed;
	top: 88px;
	margin-top: 0px;
	right: 24px;
	-webkit-box-shadow: 0px 1px 3px 1px #BBBBBB;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	background-color: #FFFFFF;
}
#userNav img {
	float: left;
	margin-left: 12px;
	margin-top: 12px;
}
#userNav a {
	text-decoration: none;
	color: #494949;
}
#userNav .userInfo {
	display: block;
	float: left;
	clear: right;
	margin-top: 12px;
	margin-right: 12px;
	margin-left: 12px;
}

#userNav h1 {
	margin: 0px;
}
#userNav .login {
	font-size: 10pt;
}
#userNav .login:hover {
	text-decoration: underline;
}
#userNav ul {
	margin-top: 24px;
	clear: both;
	padding: 0px;
	float: left;
	list-style-type: none;
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
#userNav li a {
	height: 32px;
	display: block;
	width: 100%;
	border-top: 1px solid #C7C7C7;
	line-height: 32px;
}
#userNav li a:hover {
	background-color: #E3E3E3;
	-webkit-box-shadow: inset 0px 0px 2px 1px #C7C7C7;
	box-shadow: inset 0px 0px 2px 1px #C7C7C7;
}
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 948px;
	padding-left: 12px;
}
#content h1 {
	border-bottom: 1px solid #545454;
	color: #545454;
	min-width: 256px;
	max-width: 512px;
}
.paperInfo {
	width: 488px;
	display: block;
	margin-bottom: 24px;
	-webkit-box-shadow: 0px 1px 3px 1px #BBBBBB;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
	border-radius: 2px;
	float: left;
	clear: both;
	padding: 12px;
	background-color: #FFFFFF;
	margin-right: 0px;
}
.paperInfo h2{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size: contain;
}
.paperInfo h3{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
}
.paperImage {
	float: left;
	margin-right: 12px;
}
.paperButtons ul {
	list-style-type: none;
}
.paperButtons a {
	min-width: 56px;
	float: left;
	display: block;
	height: 32px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #039BE5;
	line-height: 32px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
	margin-left: 12px;
	-webkit-box-shadow: 0px 1px 3px 1px #BBBBBB;
	box-shadow: 0px 1px 3px 1px #BBBBBB;
}
.paperButtons a:hover {
	background-color: #0277BD;
}
.paperButtons a:active {
	-webkit-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
}
#footer {
	clear: both;
	height: 20px;
	text-align: center;
	font-size: 10pt;
	color: #545454;
}
