@charset "utf-8";

html {
	margin: 0px;
	padding: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	text-indent: 0px;
}

html h1, h2, h3, h4, h5 {
	margin: 0px;
}
.material {
	-webkit-box-shadow: 1px 1px 3px 0 #000000;
	box-shadow: 1px 1px 3px 0 #000000;
}
.material h2, h3, h4, h5, h6 {
	margin-left: 10px;
	margin-bottom: 5px;
}
.paperButtons ul li {
	display: block;
	list-style-type: none;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}
.material h1 {
	border-bottom: 1px hidden #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	display: block;
	background-color: #5281FF;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #FFFFFF;
	text-shadow: 0px 0px;
	-webkit-box-shadow: 0px 1px;
	box-shadow: 0px 1px;
}
#nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#nav a {
	display: block;
	width: 180px;
	height: 30px;
	margin-top: 2px;
}
.paperInfo {
	border: thin solid #000000;
}
