@charset "utf-8";

html {
	margin: 0px;
	padding: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	text-indent: 0px;
}

html h1, h2, h3, h4, h5 {
	margin: 0px;
}
.material {
	background-image: url(img/pageEdge.png);
	background-repeat: repeat-y;
	background-position: right;
	border: 1px solid #DDDDDD;
}
.material h2, h3, h4, h5, h6 {
	margin-left: 10px;
	margin-bottom: 5px;
}
.paperButtons ul li {
	display: block;
	list-style-type: none;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}
.material h1 {
	border-bottom: 1px hidden #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #000000;
	background-image: -webkit-linear-gradient(90deg,rgba(47,5,255,1.00) 0%,rgba(154,82,255,1.00) 100%);
	background-image: -moz-linear-gradient(90deg,rgba(47,5,255,1.00) 0%,rgba(154,82,255,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(47,5,255,1.00) 0%,rgba(154,82,255,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(47,5,255,1.00) 0%,rgba(154,82,255,1.00) 100%);
	width: 75%;
}
#nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#nav a {
	display: block;
	width: 180px;
	height: 30px;
	margin-top: 2px;
}
.paperInfo {

}
