@charset "utf-8";
#header {
	background-image: url(img/header.png);
}
#header h1 {
	display: none;
}
#header a {
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #29ABE2;
	display: block;
	float: left;
	min-width: 50px;
	text-align: center;
	margin-right: 2px;
	margin-left: 2px;
}
#header a:hover {
	text-decoration: underline;
}

html, body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
body {
	background-image: url(img/shadowBack.png);
	background-repeat: repeat-y;
	background-position: center;
}
#wrapper {
	background-color: #FFFFFF;
}
